source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

iface {{ wired_interface }} inet manual

auto vmbr0
iface vmbr0 inet static
    address {{ ansible_default_ipv4.address }}
    netmask {{ ansible_default_ipv4.netmask }}
    gateway {{ ansible_default_ipv4.gateway }}
    bridge-ports {{ wired_interface }}
    birdge-stp off
    bridge-fd 0
